<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  
  <!-- adding Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <!--<link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/content.css">-->
  <title>Liad Firouz Portfolio 3.0</title>
</head>

<header class="d-flex p-3 mb-4">
  <ul class="nav me-auto">
    <h3 class="d-flex pt-1 align-items-center me-md-auto link-body-emphasis text-decoration-none fs-2">LF &nbsp</h3>
  </ul>

  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link active" aria-current="page" style="background-color: black;">Home</a></li>
    <li class="nav-item"><a target="_blank" class="nav-link" href="http://www.github.com/LiadFirouz" style="color: black;">Projects</a></li>
    <li class="nav-item"><a href="cv" class="nav-link" style="color: black;">CV</a></li>
  </ul>
</header>

<main>