<%- include("partials/header.ejs") %>

<style>
  .lead{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top-left-icons{
    height: 25px;
    padding-right:5px;
    font-size: 1rem;
  }

  .text-white{
    color: white;
  }

  .inner-info{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
  }


  .carousel-container{
    height: auto;
  }

  @media screen and (min-width: 800px) {
    .cv-container{
      display: grid;
      grid-template-columns: 3fr 4fr ;
      grid-template-rows: 500px;
    }
    .inner1-padding{
      padding-top: 3;
    }
    
  }

</style>

<div class="container">

  <!-- Intro -->
  <div class="cv-container">
    <div style="background-color: black; color: white;">
      <div class="top-left p-5 ">
        <h1>Liad Firouz</h1>
        <h4>Fullstack Developer</h4>
        <br>
          <p><img src="cv-images/email.png" class="top-left-icons">Liad.Firouz@gmail.com</p>
          <p><img src="cv-images/telephone.png" class="top-left-icons">053-9803335</p>
          <p><img src="cv-images/location.png" class="top-left-icons">Rishon LeZion, Israel</p>
          <p><img src="cv-images/linkedin.png" class="top-left-icons">linkedin.com/in/liad-firouz</p>
          <p><img src="cv-images/github.png" class="top-left-icons">github.com/LiadFirouz</p>
          <p><img src="cv-images/web.png" class="top-left-icons">https://liadfirouz.github.io/Liad-Firouz-WEB-2.0/</p>               
      </div>
    </div>

    <div class="inner1-container">
    
        <!-- Summary -->
      <div class="px-5 pt-5">
        <h2>Summary</h2>
        <p>Hi there, I am a hardworking and dedicated individual with experience in custom service and administration</p>
      </div>

      <!-- Education -->
      <div class="inner1-padding px-5">
        <h2>Education</h2>
        <ul>
            <li>Bachelor of Arts, Business Administration - University of XYZ (2010-2014)</li>
        </ul>
      </div>

      <!-- Skills -->
      <div class="inner1-padding px-5">
        <h2>Skills</h2>
        <ul>
            <li>Java</li>
            <li>C#</li>
            <li>Python</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
        </ul>
      </div>
  </div>
  </div> 
    <!-- Work Experince -->
    <div class="px-5 pt-5 ">
      <h2>Work Experience</h2>
      <ul>
          <li><h5>Customer Service Representative - ABC Inc.</h5>
          <p>June 2014 - May 2018</p>
          <ul>
            <li>Answered customer inquiries via phone and email</li> 
            <li>Maintained customer records and updated account information</li>
            <li>Resolved customer complaints and issues</li>
          </ul>
          </li>
          <br>
          <li><h5>Administrative Assistant - XYZ Corp.</h5>
              <p>June 2018 - Present</p>
              <ul>
                  <li>Prepared reports and presentations using Microsoft Office Suite</li>
                  <li>Managed incoming and outgoing mail and correspondence</li>
                  <li>Assisted with scheduling appointments and meetings</li>
              </ul>
      </ul>
    </div>
    
</div>

    <!--Download button-->
  <div class="d-flex justify-content-center align-items-center p-5">
      <button id="download" class="btn btn-lg btn-outline-dark border-white">Download As PDF</button>
  </div>

</div>

  <%- include("partials/footer.ejs") %>